body{
	background-color:#00173F;
	
}

.regform p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color:white;
  
}

#form {
  margin-left: 420px;
  margin-top: 8px;
  height: 700px;
  width: 600px;
  border: 2px solid #030521;
  border-radius: 5px 5px 5px 5px;
  background-color: #630031;
  color:white;
}
.form-text{
	font-family : Jomolhari;
	font-weight : bold;
	color : white;
	font-size : 20px;
}
input[type=text],input[type=password], input[type=email]
{
	width:265px;
	height:30px;
	border:2px solid black;
	border-radius:5px;
	text-align:left;
	border : 2px solid black;
	color:black;
}
.option{
	width:265px;
	height:30px;
	border:2px solid black;
	border-radius:5px;
	text-align:left;
	border : 2px solid black;
	color:black;
}

#form p {
  font-size: 18px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  padding-left: 50px;
}
#name {
  padding-left: 50px;
}
input[type=submit]{
	margin-left:650px;
	margin-top:20px;
	//border : 4px solid black;
	border-radius:10px;
	height:50px;
	width:140px;
	background-color : #630031;
	font-family : Jomolhari;
	font-weight : bold;
	font-size : 20px;
	transition : all ease 0.5s;
	color:white;
	
	
}
input[type=submit]:hover{
	background-color:#00173F;
}

.errmsg{
	color : red;
	margin-left:417px;
	margin-top:-824px;
	font-size:20px;
	width:100%;
	padding : 5px;
}

